<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final125">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EastBranch_BaseExplore.EastEnd"></activity>
        <activity android:name=".EastBranch_BaseExplore.EastFiveSucceed" />
        <activity android:name=".EastBranch_BaseExplore.EastFiveFail" />
        <activity android:name=".EastBranch_BaseExplore.EastFour" />
        <activity android:name=".EastBranch_BaseExplore.EastThree" />
        <activity android:name=".EastBranch_BaseExplore.EastTwoSucceed" />
        <activity android:name=".EastBranch_BaseExplore.EastTwoFail" />
        <activity android:name=".WestBranch_VillageExplore.WestEnd" />
        <activity android:name=".WestBranch_VillageExplore.WestFiveSucceed" />
        <activity android:name=".WestBranch_VillageExplore.WestFiveFail" />
        <activity android:name=".WestBranch_VillageExplore.WestFour" />
        <activity android:name=".HomePage" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossFailedPhase4" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossFailedPhase3" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossFailedPhase2" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossFailedPhase1" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossPhase2" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossPhase1" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossPhase3" />
        <activity android:name=".SouthBranch_FinalBoss.FinalBossPhase4" />
        <activity android:name=".EndGame" />
        <activity android:name=".NorthBranch_CaveExplore.NorthFour" />
        <activity android:name=".NorthBranch_CaveExplore.NorthThreeFail" />
        <activity android:name=".NorthBranch_CaveExplore.NorthThreeSucceed" />
        <activity android:name=".NorthBranch_CaveExplore.NorthTwo" />
        <activity android:name=".WestBranch_VillageExplore.WestOne" />
        <activity android:name=".WestBranch_VillageExplore.WestTwoFail" />
        <activity android:name=".WestBranch_VillageExplore.WestTwoSucceed" />
        <activity android:name=".WestBranch_VillageExplore.WestThree" />
        <activity android:name=".GameOver" />
        <activity android:name=".NorthBranch_CaveExplore.NorthEnd" />
        <activity android:name=".EastBranch_BaseExplore.EastOne" />
        <activity android:name=".SouthBranch_FinalBoss.SouthOne" />
        <activity android:name=".NorthBranch_CaveExplore.NorthOne" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>