<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final125">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homePage" />
        <activity android:name=".SouthBranch.FinalBossFailedPhase4" />
        <activity android:name=".SouthBranch.FinalBossFailedPhase3" />
        <activity android:name=".SouthBranch.FinalBossFailedPhase2" />
        <activity android:name=".SouthBranch.FinalBossFailedPhase1" />
        <activity android:name=".SouthBranch.FinalBossPhase2" />
        <activity android:name=".SouthBranch.FinalBossPhase1" />
        <activity android:name=".SouthBranch.FinalBossPhase3" />
        <activity android:name=".SouthBranch.FinalBossPhase4" />
        <activity android:name=".EndGame" />
        <activity android:name=".NorthBranch.NorthFour" />
        <activity android:name=".NorthBranch.NorthThreeFail" />
        <activity android:name=".NorthBranch.NorthThreeSucceed" />
        <activity android:name=".NorthBranch.NorthTwo" />
        <activity android:name=".WestBranch.WestTwo" />
        <activity android:name=".WestBranch.WestOneFail" />
        <activity android:name=".WestBranch.WestOneSucceed" />
        <activity android:name=".GameOver" />
        <activity android:name=".NorthBranch.NorthEnd" />
        <activity android:name=".EastBranch.EastOne" />
        <activity android:name=".SouthBranch.SouthOne" />
        <activity android:name=".NorthBranch.NorthOne" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>